<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">
                Booth Analytics
            </span>
        </div>
        <div class="col-sm-8 text-end">
            <div class="row g-2 justify-content-end">
                <div class="col-sm-4">
                    <select class="form-select">
                        <option value="">Select Booth</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row chartbox g-2">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header pb-0">
                    Filters
                    <span class="float-end">
                        <button type="button" class="btn badge border-secondary rounded-pill bg-light text-dark">
                            Clear All
                        </button>
                    </span>
                </div>
                <div class="card-body">
                    <div class="accordion" id="boothanalytics-filters">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Age
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#boothanalytics-filters">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chkAge" id="chkAge1"
                                            value="option1" checked>
                                        <label class="form-check-label" for="chkAge1">
                                            0 To 18
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chkAge" id="chkAge2"
                                            value="option2">
                                        <label class="form-check-label" for="chkAge2">
                                            18 to 30
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chkAge" id="chkAge3"
                                            value="option3">
                                        <label class="form-check-label" for="chkAge3">
                                            30 to 50
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chkAge" id="chkAge4"
                                            value="option3">
                                        <label class="form-check-label" for="chkAge4">
                                            50 +
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Gender
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#boothanalytics-filters">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chkGender" id="chkGender1"
                                            value="option1" checked>
                                        <label class="form-check-label" for="chkGender1">
                                            Male
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chkGender" id="chkGender2"
                                            value="option2">
                                        <label class="form-check-label" for="chkGender2">
                                            Female
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chkGender" id="chkGender3"
                                            value="option3">
                                        <label class="form-check-label" for="chkGender3">
                                            Not Specified
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Religion
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#boothanalytics-filters">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header pb-0">
                    Filters
                </div>
                <div class="card-body">
                    asdf
                </div>
            </div>
        </div>
    </div>
</div>