<div class="container-fluid">
  <div class="row mx-0 px-0" id="pageheader">
    <div class="col-sm-2">
      <span class="page-name">
        Booth Analytics
      </span>
    </div>
    <div class="col-sm-10 text-end">
      <form [formGroup]="filterForm">
        <div class="row g-2 justify-content-end">
          <div class="col-sm-3">
            <ngx-select [allowClear]="clientIdFlag" [items]="clientNameArray" formControlName="ClientId"
                        (remove)="clearFilter('clientId')" (select)="HighlightRow=0; boothDataHide =false;clearFilter('electionId'); getElectionName()"
                        [disabled]="clientIdDisabled" optionValueField="id" optionTextField="Fullname"
                        placeholder="Select Client">
            </ngx-select>
          </div>
          <div class="col-sm-3">
            <ngx-select [allowClear]="electionFlag" [items]="electionNameArray" (remove)="clearFilter('electionId')"
                        (select)="HighlightRow=0; boothDataHide =false; clearFilter('constituencyId');  getConstituencyName()" formControlName="ElectionId"
                        optionValueField="ElectionId" optionTextField="ElectionName"
                        [disabled]="!this.filterForm.value.ClientId || electionNameArray?.length == 0"
                        placeholder="Select Election">
            </ngx-select>
          </div>
          <div class="col-sm-2">
            <ngx-select [allowClear]="constituencyFlag" [items]="constituencyNameArray"
                        (remove)="clearFilter('constituencyId')" (select)="clearFilter('VillageId'); getVillageName();"
                        formControlName="ConstituencyId" optionValueField="ConstituencyId" optionTextField="ConstituencyName"
                        [disabled]="!this.filterForm.value.ElectionId" placeholder="Select Constituency">
            </ngx-select>
          </div>
          <div class="col-sm-2">
            <ngx-select [allowClear]="villageFlag" [items]="villageNameArray" (remove)="clearFilter('VillageId'); ClientWiseBoothList();"
                        formControlName="VillageId" (select)="clearFilter('BoothId'); ClientWiseBoothList(); boothDataHide=false"
                        optionValueField="VillageId" optionTextField="VillageName"
                        [disabled]="!this.filterForm.value.ConstituencyId" placeholder="Select Village">
            </ngx-select>
          </div>
          <div class="col-sm-2">
            <ngx-select [allowClear]="boothFlag" [items]="clientWiseBoothListArray" (remove)="bindData();"
                        formControlName="BoothId" (select)="bindData(); boothDataHide=false"
                        optionValueField="BoothId" optionTextField="BoothNickName" [disabled]="!this.filterForm.value.ConstituencyId"
                        placeholder="Select Booth">
            </ngx-select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <ng-container *ngIf="dataNotFound">
    <div id="dash-stats" class="row g-2">
      <div class="col-sm">
        <div class="card card-body">
          <p>Total Voters</p>
          <h3>{{cardData?.TotalVoters}}</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <p>Total Booths</p>
          <h3>{{cardData?.TotalBooths}}</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <p>Data Filled</p>
          <h3>{{cardData?.TotalFilled}}</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <p>Pending</p>
          <h3>{{cardData?.TotalPending}}</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <p>Families</p>
          <h3>{{cardData?.TotalFamilies}}</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <p>Migrated</p>
          <h3>{{cardData?.TotalMigrated}}</h3>
        </div>
      </div>
      <!--<div class="col-sm">
        <div class="card card-body">
          <p>New Voters</p>
          <h3>{{cardData?.NewVoters}}</h3>
        </div>
      </div>-->
      <div class="col-sm">
        <div class="card card-body">
          <p>Male</p>
          <h3>{{cardData?.Male}}</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <p>Female</p>
          <h3>{{cardData?.Female}}</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <p>Other Gender</p>
          <h3>{{cardData?.OtheGender}}</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <p>Expired</p>
          <h3>{{cardData?.Expired}}</h3>
        </div>
      </div>
    </div>

    <div class="row chartbox g-2 mb-3">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            Booth Analysis
            <span class="float-end text-main">
              {{selectedVillage?.VillageName ? selectedVillage?.VillageName + ' - ' : ''}} <span *ngFor="let boot of selectedBoot"> {{boot.BoothNickName}}&nbsp;</span>
              <span *ngIf="selectedBoot.length <= 0"> All Booths</span>
            </span>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-9">
                <div class="row g-2">
                  <div class="col-sm-4">
                    <div class="card shadow-none border">
                      <div class="card-header pb-0">
                        Agewise Voters
                      </div>
                      <div class="card-body">
                        <div [hidden]="!isAgewiseChart" id="chartdiv" style="width: 100%;  height:250px"></div>
                        <ng-container *ngIf="!isAgewiseChart">
                          <div class="alert alert-danger text-center py-2 mb-0">No Data Found..!</div>
                        </ng-container>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="card shadow-none border">
                      <div class="card-header pb-0">
                        Religionwise Voters Chart 
                      </div>
                      <div class="card-body">                     
                        <div [hidden]="!isReligionwiseChart" id="religionwisediv"
                             style="width: 100%;  height:250px"></div>
                        <ng-container *ngIf="!isReligionwiseChart">
                          <div class="alert alert-danger text-center py-2 mb-0">No Data Found..!</div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card shadow-none border">
                      <div class="card-header pb-0">
                        Caste Wise Chart
                      </div>
                      <div class="card-body">
                        <div [hidden]="!isCasteWiseChart" id="castewisediv"
                             style="width: 100%;  height: 400px"></div>
                        <ng-container *ngIf="!isCasteWiseChart">
                          <div class="alert alert-danger text-center py-2 mb-0">No Data Found..!</div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card shadow-none border">
                      <div class="card-header pb-0">
                        Migration Pattern
                      </div>
                      <div class="card-body">
                        <table class="table table-hover mb-0">
                          <thead>
                            <tr>
                              <th>Sr. No.</th>
                              <th>City</th>
                              <th>Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let row of migrationPatternList">
                              <td>{{row?.SrNo}}</td>
                              <td>{{row?.Migratedcity}}</td>
                              <td>{{row?.TotalVoters}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="mt-2 text-end" *ngIf="migrationPatternList?.length == 0">
                          <div class="alert alert-danger text-center py-2"> No Data Found..!  </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="card shadow-none border">
                      <div class="card-header pb-0">
                        Profession Wise Families
                      </div>
                      <div class="card-body">
                        <table class="table table-hover mb-0">
                          <thead>
                            <tr>
                              <th>Sr. No.</th>
                              <th>Profession</th>
                              <th>Families</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let row of professionFamiliesList">
                              <td>{{row?.SrNo}}</td>
                              <td>{{row?.Profession}}</td>
                              <td>{{row?.TotalVoters}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="mt-2 text-end" *ngIf="professionFamiliesList?.length == 0">
                          <div class="alert alert-danger text-center py-2"> No Data Found..!  </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="card shadow-none border">
                      <div class="card-header pb-0">
                        Party wise voters
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <table class="table table-hover mb-0">
                              <thead>
                                <tr>
                                  <th>Sr. No.</th>
                                  <th>Party Name</th>
                                  <th>Families</th>
                                  <th>Voters</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let row of partyVotersList">
                                  <td>{{row?.SrNo}}</td>
                                  <td>{{row?.PartyName}}</td>
                                  <td>{{row?.TotalFamily}}</td>
                                  <td>{{row?.TotalVoter}}</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="mt-2 text-end" *ngIf="partyVotersList?.length == 0">
                              <div class="alert alert-danger text-center py-2"> No Data Found..!  </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="card-header pb-0">
                              Party wise voters Chart
                            </div>
                            <div [hidden]="!isPartyVotersChart" id="partywiseVoterschartdiv" style="width: 100%;  height:280px"></div>
                            <ng-container *ngIf="!isPartyVotersChart">
                              <div class="alert alert-danger text-center py-2 mb-0">No Data Found..!</div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="card shadow-none border">
                      <div class="card-header pb-0">
                        Important Leaders in This Village/Booth
                      </div>
                      <div class="card-body">
                        <table class="table table-hover mb-0">
                          <!--<caption>Heading sortable</caption>-->
                          <!--<tr>
                            <th (click)="setOrder('SrNo')">Sr. No. <i class="fas fa-sort"></i></th>
                            <th (click)="setOrder('LeaderName')">Leader Name <i class="fas fa-sort"></i></th>
                            <th (click)="setOrder('AreaName')">Area <i class="fas fa-sort"></i></th>
                            <th (click)="setOrder('PartyName')">Party <i class="fas fa-sort"></i></th>
                            <th (click)="setOrder('LeaderImportance')">Importance <i class="fas fa-sort"></i></th>
                            <th (click)="setOrder('Contact')">Contact No. <i class="fas fa-sort"></i></th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let leader of impLeadersList | paginate: {id: 'LeadersPagination', itemsPerPage: 5, currentPage: impLeadersPaginationNo, totalItems:impLeadersTotal} | orderBy: order:reverse:caseInsensitive">
                              <td>{{leader?.SrNo}}</td>
                              <td>{{leader?.LeaderName}}</td>
                              <td>{{leader?.AreaName}}</td>
                              <td>{{leader?.PartyName}}</td>
                              <td>{{leader?.LeaderImportance}}*</td>
                              <td>{{leader?.Contact}}</td>
                            </tr>
                          </tbody>-->
                          <thead>
                            <tr>
                              <th>Sr. No.</th>
                              <th>Leader Name</th>
                              <th>Area</th>
                              <th>Party</th>
                              <th>Importance</th>
                              <th>Contact No.</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let leader of impLeadersList | paginate: {id: 'LeadersPagination', itemsPerPage: 10, currentPage: impLeadersPaginationNo, totalItems:impLeadersTotal}">
                              <td>{{leader?.SrNo}}</td>
                              <td>{{leader?.LeaderName}}</td>
                              <td>{{leader?.AreaName}}</td>
                              <td>{{leader?.PartyName}}</td>
                              <td>{{leader?.LeaderImportance}}*</td>
                              <td>{{leader?.Contact}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="mt-2 text-end" *ngIf="impLeadersList?.length == 0">
                          <div class="alert alert-danger text-center py-2"> No Data Found..!  </div>
                        </div>
                        <pagination-controls id="LeadersPagination"
                                             *ngIf="impLeadersList?.length != 0" previousLabel=""
                                             nextLabel=""
                                             (pageChange)="onClickPagintionImpLeaders(impLeadersPageSize = $event)">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="card shadow-none border">
                      <div class="card-header pb-0">
                        Area Wise Voters
                      </div>
                      <div class="card-body">
                        <table class="table table-hover mb-0">
                          <thead>
                            <tr>
                              <th>Sr. No.</th>
                              <th>Area</th>
                              <th>Total Voters</th>
                              <th>Families</th>
                              <th>Updated Voters</th>
                              <th>Representative</th>
                              <th>Phone</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let areaWiseVoter of areaWiseVotersList | paginate: areaWiseVoterConfig">
                              <td>{{areaWiseVoter?.SrNo}}</td>
                              <td>{{areaWiseVoter?.AreaName}}</td>
                              <td>{{areaWiseVoter?.TotalVoters}}</td>
                              <td>{{areaWiseVoter?.TotalFamily}}</td>
                              <td>{{areaWiseVoter?.UpdatedVoters}}</td>
                              <td>{{areaWiseVoter?.Representative}}</td>
                              <td>{{areaWiseVoter?.Contact}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="mt-2 text-end" *ngIf="areaWiseVotersList?.length == 0">
                          <div class="alert alert-danger text-center py-2"> No Data Found..!  </div>
                        </div>
                        <pagination-controls id="areaWiseVoterPagination"
                                             *ngIf="areaWiseVotersList?.length != 0" previousLabel=""
                                             nextLabel=""
                                             (pageChange)="onClickPagintionareaWiseVoters(areaWiseVotersPageSize = $event)">
                        </pagination-controls>

                        <!--<div class="col-md-12">
                          <div class="card  o-hidden">
                            <ngx-datatable style="height: calc(100vh - 270px); box-shadow: seashell" class="material fullscreen" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="100 " [scrollbarV]="true" [scrollbarH]="true" [rows]="rows">
                              <ngx-datatable-column>
                                <ng-template ngx-datatable-header-template>
                                  Order No.
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                  {{ row.SrNo }}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column>
                                <ng-template ngx-datatable-header-template>
                                  Patient Name
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                  {{  row.LeaderName }}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column>
                                <ng-template ngx-datatable-header-template>
                                  Cancelled On
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                  {{  row.AreaName }}
                                </ng-template>
                              </ngx-datatable-column>
                            </ngx-datatable>
                          </div>
                        </div>-->
                        <!--<ngx-datatable [rows]="rows" [columns]="columns"> </ngx-datatable>-->
                        <!--<ngx-datatable class="material"
                                       [rows]="rows"
                                       [columns]="[{ prop: 'name' }, { name: 'Gender' }, { name: 'Company' }]"
                                       [columnMode]="ColumnMode.force"
                                       [headerHeight]="50"
                                       [footerHeight]="50"
                                       rowHeight="auto"
                                       [externalPaging]="true"
                                       [count]="page.totalElements"
                                       [offset]="page.pageNumber"
                                       [limit]="page.size"
                                       (page)="setPage($event)">
                        </ngx-datatable>-->

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="card shadow-none border">
                      <div class="card-header pb-0">
                        Social Media Supporter
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <table class="table table-hover mb-0">
                              <thead>
                                <tr>
                                  <th>Sr. No.</th>
                                  <th>Leader</th>
                                  <th>Voters</th>
                                  <th>Hits</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let supporter of socialMediaSuprtList">
                                  <td>{{supporter.SrNo}}</td>
                                  <td>{{supporter.SupporterName}}</td>
                                  <td (click)="showVotersList(supporter.SupporterOfId);">
                                    <a class="text-main" data-bs-toggle="modal" data-bs-target="#ModalVotersList">{{supporter.TotalVoter}}</a>
                                  </td>
                                  <td>{{supporter.Support}}</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="mt-2 text-end" *ngIf="socialMediaSuprtList?.length == 0">
                              <div class="alert alert-danger text-center py-2"> No Data Found..!  </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="card-header pb-0">
                              Social Media Supporter Hits Chart
                            </div>
                            <div [hidden]="!isocialMediaSuprtChart" id="socialMediaSuprtdiv" style="width: 100%;  height:250px"></div>
                            <ng-container *ngIf="!isocialMediaSuprtChart">
                              <div class="alert alert-danger text-center py-2 mb-0">No Data Found..!</div>
                            </ng-container>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="!dataNotFound">
                  <div class="alert alert-danger text-center py-2 mb-0">Please Select booth..!</div>
                </ng-container>
              </div>

              <div class="col-sm-3">
                <div class="card shadow-none border">
                  <div class="card-header">Common Issues in this Area</div>
                  <div class="card-body pt-0">
                    <table class="table table-hover mb-0">
                      <tbody>
                        <tr *ngFor="let commonIssue of commonIssuesList | paginate: comnIssueConfig">
                          <td>
                            <span class="fw-bold text-main">{{commonIssue?.EnglishName}}</span>
                            <div>
                              {{commonIssue?.VisitDetails || '-'}}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="mt-2 text-end" *ngIf="commonIssuesList?.length == 0">
                      <div class="alert alert-danger text-center py-2"> No Data Found..!  </div>
                    </div>                   
                    <pagination-controls id="commonIssuePagination"
                                         *ngIf="commonIssuesList?.length != 0" previousLabel=""
                                         nextLabel=""
                                         (pageChange)="onClickPagintionCommonIssues(comnIssuePageSize = $event)">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!dataNotFound">
    <div class="alert alert-danger text-center py-2 mb-0">Pease select the Booth..!</div>
  </ng-container>
</div>



<!-- Modal to show list of voters for social media  -->
<div class="modal fade" id="ModalVotersList" tabindex="-1" aria-labelledby="ModalVotersListLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalVotersListLabel">Voters List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="dataNotFound">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>Voter ID</th>
              <th>Voter Name</th>
              <th>Gender</th>
              <th>Contact No</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let voter of votersList | paginate: votersConfig">
              <td>{{voter?.SrNo}}</td>
              <td>{{voter?.Englishname}}</td>
              <td>{{voter?.Gender}}</td>
              <td>{{voter?.MobileNo || '-'}}</td>
            </tr>
          </tbody>
        </table>
        <div class="mt-2 text-end" *ngIf="votersList?.length == 0">
          <div class="alert alert-danger text-center py-2"> No Data Found..!  </div>
        </div>
        <pagination-controls id="votersListPagination"
                             *ngIf="votersList?.length != 0" previousLabel=""
                             nextLabel=""
                             (pageChange)="onClickPagintionVoters(votersPageSize = $event)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
