<div class="modal-content">
    <div class="modal-header bg-transparent border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onNoClick('No')"></button>
    </div>
    <div class="modal-body text-center pb-5">
   
        <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" (click)="onNoClick('No')" data-bs-dismiss="modal"
            aria-label="Close">Cancel</button>
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal" (click)="onNoClick('Yes')" aria-label="Close" type="button"
            data-bs-dismiss="modal" aria-label="Close" >I'm
            Sure</button>
    </div>
</div>