.profile-info img{
    width: 90px;
    margin: 0 auto;
    display: flex;
    border-radius: 50%;
}
.profile-info h5{
    color: var(--main-color);
}
.profile-info .contact{
    color: #888;
    font-size: 0.85rem;
    margin-bottom: 2px;
}
.profile-info .area{
    font-size: 0.9rem;
}
.profile-info .card-text{
    font-size: 0.8rem;
    color: #888;
}
.profile-info .box-link{
    text-decoration: none;
}
.profile-info .box-link:hover{
    text-decoration: none;
    background-color: var(--main-color);
}
.profile-info .box-link:hover .card-title,
.profile-info .box-link:hover .card-text{
    color: #fff;
}