<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-3">
            <span class="page-name">
                Agent Activity
            </span>
        </div>
        <div class="col-sm-9 text-end">
            <form [formGroup]="filterForm">
                <div class="row g-2">
                    <div class="col-sm">
                        <ngx-select [allowClear]="clientNameArray?.length > 2" [items]="clientNameArray"
                            formControlName="ClientId" [disabled]="clientNameArray?.length == 0"
                            (remove)="clearFilter('clientId')" (select)="getAllAgentList('sel')" optionValueField="id"
                            optionTextField="Fullname" placeholder="Select Client">
                        </ngx-select>
                    </div>
                    <div class="col-sm">
                        <ngx-select  [items]="allAgentLists" [allowClear]="allAgentLists?.length > 2" formControlName="AgentId"
                            [disabled]="allAgentLists?.length == 0"
                            optionValueField="AgentId" (select)="areaSubAgentByAgentId('sel')"
                            optionTextField="FullName" placeholder="Select Agent"
                            (remove)="clearFilter('Agent');getAgentProfileData();">
                        </ngx-select>
                        <!-- getAgentProfileData(); -->
                    </div>
                    <div class="col-sm">
                        <div class="col-sm">
                            <ngx-select  [items]="allSubAgentsByAgentId" [allowClear]="allSubAgentsByAgentId?.length > 2"
                                [disabled]="allSubAgentsByAgentId?.length == 0" formControlName="subAreaAgentId"
                                optionValueField="Id" optionTextField="FullName" (remove)="clearFilter('subAgent')"
                                (select)="getAgentByBooths('sel');" placeholder="Select Area  Agent">
                            </ngx-select>
                            <!--   getAgentProfileData() -->
                        </div>
                    </div>
                    <div class="col-sm">
                        <ngx-select  [items]="getAgentByBoothsData" [allowClear]="getAgentByBoothsData?.length > 2" 
                            [disabled]="getAgentByBoothsData?.length == 0"
                            formControlName="BoothId" optionValueField="BoothId" (select)="selBoothByAgent($event)"
                            optionTextField="BoothName" placeholder="Select Booth" (remove)="clearFilter('Booth')">
                        </ngx-select>
                        <!-- [disabled]="subAreaAgentIdDisabledFlag" -->
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="profile-info">
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <!-- <img src="{{agentProfileData?.ProfilePhoto != '' ? agentProfileData?.ProfilePhoto : 'assets/images/Profile-Photo.jpg'}}"> -->
                            </div>
                            <div class="flex-grow-1 ms-3 pt-2">
                                <h5>{{agentProfileData?.FullName | titlecase}}</h5>
                                <p>{{agentProfileData?.SubUserTypeName}}</p>
                                <p class="contact mb-0">+91-{{agentProfileData?.MobileNo}}</p>
                                <p class="mb-0 contact"><small>{{agentProfileData?.Address | titlecase}}</small></p>
                                <p class="mb-0">{{agentProfileData?.Emailid}}</p>
                                <!-- <p class="mb-0">{{agentProfileData?.Gender == 1 ? 'Male' : 'Female'}}</p> -->
                                <span class="badge  py-1 fw-normal rounded-pill px-3 mt-1"
                                    [ngClass]="{'bg-danger':agentProfileData?.IsUserBlock == 1 , 'bg-success' :agentProfileData?.IsUserBlock == 0}">
                                    {{agentProfileData?.IsUserBlock == 1 ? 'Blocked' : 'Active' }}
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <small class="text-muted">Booths(s) Assigned :</small>
                            <p class="area">{{agentProfileData?.Booths}}</p>
                            <p class="area" *ngIf="agentProfileData?._Area">{{agentProfileData?._Area}}</p>
                        </div>
                        <div class="row row-cols-1 row-cols-md-3 g-2 mb-3">
                            <div class="col">
                                <div class="card shadow-none border">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">{{agentProfileCardData?.TotalVoter}}</h5>
                                        <p class="card-text">
                                            Total Voters
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col" *ngIf="agentProfileData?.SubusertypeId == 4">
                                <div class="card shadow-none border">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">{{agentProfileCardData?.TotalAssigned}}</h5>
                                        <p class="card-text">
                                            Total Assigned
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-none border">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">{{agentProfileCardData?.TotalFilled}}</h5>
                                        <p class="card-text">
                                            Data Filled
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-none border">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">{{agentProfileCardData?.Pending}}</h5>
                                        <p class="card-text">
                                            Data Pending
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-none border">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">{{agentProfileCardData?.TotalMigrated}}</h5>
                                        <p class="card-text">
                                            Total Migrated
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-none border">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">{{agentProfileCardData?.TotalFamily}}</h5>
                                        <p class="card-text">
                                            Total Families
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-none border">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">{{agentProfileCardData?.NewVoter}}</h5>
                                        <p class="card-text">
                                            New Voters
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card shadow-none border mb-3">
                            <div class="card-header">
                                Voter Data Filled Chart
                            </div>
                            <div class="card-body">
                                <div class="agentProfilePiChart chart-container"></div>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <div class="col-sm-6 text-end">
                                <button class="btn  btn-sm"
                                    [ngClass]="{'btn-danger':agentProfileData?.IsUserBlock == 0 , 'btn-main' :agentProfileData?.IsUserBlock == 1}"
                                    (click)="blockUser(agentProfileData.ID, agentProfileData.IsUserBlock)">
                                    {{agentProfileData?.IsUserBlock == 1 ? 'Unblock Agent' : 'Block Agent'}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>