<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">
                Agent Setting
            </span>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-end">
                        <div class="col-sm-3">
                           <ngx-select [items]="allAgentListArray" [allowClear]="true"
                                    [formControl]="selectAgentData"  optionValueField="AgentId" optionTextField="FullName"
                                    placeholder="Select Agent">
                           </ngx-select>  
                    </div>
                </div>
                <div class="card-body">
                    <!-- <form [formGroup]="agentSettingForm"> -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Agent Name</th>
                                <th>Mobile No.</th>
                                <th>Track Call Log</th>
                                <th>Track Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let agentSetting of agentSettingArray">
                                <td>{{agentSetting.SrNo}}</td>
                                <td>
                                    <a routerLink="">{{agentSetting.FullName}}</a>
                                </td>
                                <td>
                                    {{agentSetting.MobileNo}}
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" (change)="onCheckisAlertData($event,agentSetting)" [checked]="agentSetting.IsCalllogTrack == 1" value="" id="flexCheckDefault1">
                                      </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" (change)="onCheckisAlertData1($event,agentSetting)" [checked]="agentSetting.IsLacationTrack == 1" value="" id="flexCheckDefault2">
                                        
                                      </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn-primary" (click)="onSubmitData()">Save</button>