<!-- <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
    <div class="modal-content fullscreen-dialog">
        <div class="modal-header bg-transparent border-bottom-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="onNoClick('No')"></button>
        </div>
        <div class="modal-body">
            
        </div>
    </div>
</div> -->

<mat-dialog-content>
<div class="row chartbox">
    <div class="col-sm-5">
        <div class="form-container">
            <div class="card shadow-none border">
                <div class="card-header pb-0">Voter Information</div>
                <div class="card-body pt-1">
                    <div class="mb-2">
                        <label class="form-label">Voters Full Name</label>
                        <div class="form-data">आक्काताई नितीन केंगार</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label class="form-label">DOB</label>
                            <div class="form-data">11-01-1988</div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Age</label>
                            <div class="form-data">25</div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Gender</label>
                            <div class="form-data">Female</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Contact No.</label>
                        <div class="form-data"><i class="fab fa-whatsapp me-1 text-primary"></i> 987543210,
                            987653210
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Area</label>
                        <div class="form-data">काळचौडी गावंठाण मारूती मंदिरा शेजारी काळचौडी</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <label class="form-label">Religion (Caste)</label>
                            <div class="form-data">Hindu (Maratha)</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Qualification</label>
                            <div class="form-data">BA Economics</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Comments</label>
                        <div class="form-data">
                            <ul class="mb-0 ps-3 text-main">
                                <li>Need water supply facility in our area.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Political Information</label>
                        <div class="form-data">
                            Nationalist Congress Party, Leader (5 <i class="fas fa-star"></i>)
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6 text-success">
                            <label class="form-label">Party/Person Favouring</label>
                            <div class="form-data">NCP, Sharad Pawar</div>
                        </div>
                        <div class="col-sm-6 text-danger">
                            <label class="form-label">Party/Person Opposing</label>
                            <div class="form-data">BJP, Chandrakant Patil</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <span class="form-label">Family Information</span>
                        <span class="form-data">
                            Family Head (3 Members)
                        </span>
                        <table class="table table-hover mb-0 table-sm">
                            <thead>
                                <tr>
                                    <th>Voter No.</th>
                                    <th>Member Info</th>
                                    <th>Migrated</th>
                                    <th>Qualification</th>
                                    <th>Occupation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12422</td>
                                    <td>
                                        <p class="mb-0">Vijay Chavan (M)</p>
                                        <small>9876543210</small>
                                    </td>
                                    <td>Mumbai</td>
                                    <td>BE Civil</td>
                                    <td>Service</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <p class="mb-1 fw-bold small">Feedbacks</p>
        <div class="table-feedbacks mb-3">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Feedback Details</th>
                        <th>Followup</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <small class="text-muted">12-10-2021 12:17 PM</small>
                                </div>
                                <div class="col-sm-6 text-end">
                                    <span class="badge rounded-pill bg-success fw-normal">Positive</span>
                                </div>
                                <div class="col-sm-12">
                                    Need borewell in our area. Need cleanliness in our area. Public transport issue
                                    should be resolved as soon as possible.
                                </div>
                            </div>
                        </td>
                        <td>
                            15-12-2021
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <small class="text-muted">12-10-2021 12:17 PM</small>
                                </div>
                                <div class="col-sm-6 text-end">
                                    <span class="badge rounded-pill bg-danger fw-normal">Negitive</span>
                                </div>
                                <div class="col-sm-12">
                                    Need borewell in our area. Need cleanliness in our area. Public transport issue
                                    should be resolved as soon as possible.
                                </div>
                            </div>
                        </td>
                        <td>
                            15-12-2021
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <small class="text-muted">12-10-2021 12:17 PM</small>
                                </div>
                                <div class="col-sm-6 text-end">
                                    <span class="badge rounded-pill bg-warning text-dark fw-normal">Neutral</span>
                                </div>
                                <div class="col-sm-12">
                                    Need borewell in our area. Need cleanliness in our area. Public transport issue
                                    should be resolved as soon as possible.
                                </div>
                            </div>
                        </td>
                        <td>
                            15-12-2021
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card shadow-none border">
            <div class="card-header pb-0">Enter New Feedback</div>
            <div class="card-body pt-1">
                <div class="form-container">
                    <div class="row mb-2 g-2">
                        <div class="col-sm-4">
                            <label class="form-label">Do Not Call</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="chkDoNotCall">
                                <label class="form-check-label" for="chkDoNotCall">
                                  Do Not Call
                                </label>
                              </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Followup Date-Time</label>
                            <input type="datetime-local" class="form-control" placeholder="dd/mM/yyyy hh:mm:ss">
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Feedback Type</label>
                            <select class="form-select">
                                <option value="Select Feedback Type">Select Feedback Type</option>
                                <option value="Positive">Positive</option>
                                <option value="Negitive">Negitive</option>
                                <option value="Neutral">Neutral</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Feedback</label>
                        <textarea class="form-control" rows="3" placeholder="Enter Feedback"></textarea>
                    </div>
                    <div class="mb-0 row">
                        <div class="col-sm-6">
                            <button type="button" mat-dialog-close class="btn btn-secondary btn-sm me-2">Cancel</button>
                        </div>
                        <div class="col-sm-6 text-end">
                            <button type="submit" [mat-dialog-close]="true" class="btn btn-sm btn-main">Submit
                                Feedback</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</mat-dialog-content>