<!-- <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
    <div class="modal-content fullscreen-dialog">
        <div class="modal-header bg-transparent border-bottom-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="onNoClick('No')"></button>
        </div>
        <div class="modal-body">
            
        </div>
    </div>
</div> -->

<mat-dialog-content>
    <div class="row chartbox">
        <div class="col-sm-5">
            <div class="form-container">
                <div class="card shadow-none border">
                    <div class="card-header pb-0">Voter Information</div>
                    <div class="card-body pt-1">
                        <div class="mb-2">
                            <label class="form-label">Voters Full Name</label>
                            <div class="form-data">{{voterProfileData?.MarathiName}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <label class="form-label">DOB</label>
                                <div class="form-data">{{voterProfileData?.DateOfBirth ? voterProfileData?.DateOfBirth :
                                    '-'}}</div>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Age</label>
                                <div class="form-data">{{voterProfileData?.Age ? voterProfileData?.Age : '-'}}</div>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Gender</label>
                                <div class="form-data">
                                    <span class="voter-data" *ngIf="voterProfileData?.Gender == 'F'">Female</span>
                                    <span class="voter-data" *ngIf="voterProfileData?.Gender == 'M'">Male</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Contact No.</label>
                            <div class="form-data">
                                <i *ngIf="voterProfileData?.WatsApp1" class="fab fa-whatsapp me-1 text-primary"></i>
                                    {{voterProfileData?.MobileNo1 ? voterProfileData?.MobileNo1 : '-'}}
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Area</label>
                            <div class="voter-data">{{voterProfileData?.Area ? voterProfileData?.Area : '-'}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <label class="form-label">Religion (Caste)</label>
                                <div class="form-data"> {{voterProfileData?.ReligionName}} ({{voterProfileData?.Castname}})</div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Qualification</label>
                                <div class="form-data">{{voterProfileData?.Qualification ? voterProfileData?.Qualification
                                    : '-'}}</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Comments</label>
                            <div class="form-data">
                                <ul *ngFor="let VPComments of VPCommentData" class="list-group list-group-flush mb-0">
                                    <li class="list-group-item ps-0" *ngIf="VPComments?.CommentDetails">
                                        <i class="fas fa-check me-2"></i>
                                        {{VPComments?.CommentDetails}}
                                    </li>
                                </ul>
                                <span class="text-danger" *ngIf="VPCommentData?.length == 0">No Comments</span>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Political Information</label>
                            <div class="form-data" *ngIf="voterProfileData?.partyname">
                                {{voterProfileData?.partyname}}, Leader ({{voterProfileData?.LeaderImportance}} <i class="fas fa-star"></i>)
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-6 text-success">
                                <label class="form-label">Party/Person Favouring</label>
                                <div class="form-data" *ngFor="let posNegInf of posNegativeInfData">
                                    <span *ngIf="posNegInf.supportToid == 1">{{posNegInf.Support}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 text-danger">
                                <label class="form-label">Party/Person Opposing</label>
                                <div class="form-data" *ngFor="let posNegInf of posNegativeInfData">
                                    <span *ngIf="posNegInf.supportToid == 4">{{posNegInf.Support}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <span class="form-label">Family Information</span>
                            <span class="form-data">
                                {{voterProfileData?.Head}} Family ({{voterProfileData?.Familysize}} Members)
                            </span>
                            <table class="table table-hover mb-0 table-sm">
                                <thead>
                                    <tr>
                                        <th>Voter No.</th>
                                        <th>Member Info</th>
                                        <th>Migrated</th>
                                        <th>Qualification</th>
                                        <th>Occupation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let voterProfileFamily of voterProfileFamilyData">
                                        <td>{{voterProfileFamily.VoterNo}}</td>
                                        <td>
                                            <p class="mb-0">{{voterProfileFamily.Family}}</p>
                                            <small>{{voterProfileFamily.MobileNo1 ? voterProfileFamily.MobileNo1 : '-'}}</small>
                                        </td>
                                        <td>{{voterProfileFamily.Address ? voterProfileFamily.Address : '-'}}</td>
                                        <td>{{voterProfileFamily.Qualification ? voterProfileFamily.Qualification :
                                            '-'}}</td>
                                        <td>{{voterProfileFamily.Occupation ? voterProfileFamily.Occupation : '-'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <p class="mb-1 fw-bold small">Feedbacks</p>
            <div class="table-feedbacks mb-3">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Feedback Details</th>
                            <th>Followup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let feedbacksList  of getFeedbacksList">
                            <td>{{feedbacksList?.SrNo}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <small class="text-muted">{{feedbacksList?.FeedBackDate}}</small>
                                    </div>
                                    <div class="col-sm-6 text-end">
                                        <span
                                            class="badge rounded-pill bg-success fw-normal">{{feedbacksList?.FeedBackType
                                            | titlecase}}</span>
                                    </div>
                                    <div class="col-sm-12">
                                        {{feedbacksList?.Description ? (feedbacksList?.Description | titlecase) : '-'}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{feedbacksList?.FollowupDate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card shadow-none border">
                <div class="card-header pb-0">Enter New Feedback</div>
                <form [formGroup]="enterNewFeedbackForm" (ngSubmit)="onSubmitFeedbackForm()">
                    <div class="card-body pt-1">
                        <div class="form-container">
                            <div class="row mb-2 g-2">
                                <div class="col-sm-4">
                                    <label class="form-label">Do Not Call</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="chkDoNotCall"
                                        formControlName="NotToCall">
                                        <label class="form-check-label" for="chkDoNotCall">
                                            Do Not Call
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-4">
                                    <label class="form-label">Followup Date-Time</label>
                                    <input type="datetime-local" class="form-control" formControlName="FollowupDate"
                                        placeholder="dd/mM/yyyy hh:mm:ss">
                                </div> -->




                                <div class="col-sm-4">
                                    <label class="form-label">Followup Date-Time</label>
                                    <div class="input-group">
                                       
                                        <input [owlDateTime]="dt3" formControlName="FollowupDate"
                                            (dateTimeChange)="voterDateRangeSelect(this.enterNewFeedbackForm.value.FollowupDate)"
                                            class="form-control" [owlDateTimeTrigger]="dt3" placeholder="dd/mM/yyyy hh:mm:ss">
                                        <!-- <button class="btn btn-light border btn-sm" type="button"
                                            *ngIf="defaultCalenderIconFlag == false" [owlDateTimeTrigger]="dt3">
                                            <i class="fas fa-calendar-alt"></i></button>
                                        <button class="btn btn-light border btn-sm" type="button"
                                            *ngIf="defaultCalenderIconFlag  == true"
                                            (click)="clearFilterDateRangepicker()">
                                            <i class="fas fa-times"></i></button> -->
                                    </div>
                                    <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
                                </div>




                                <div class="col-sm-4">
                                    <label class="form-label">Feedback Type</label>
                                    <ngx-select [allowClear]="true" [items]="feedbackTypeArray"
                                        formControlName="FeedBackType" optionValueField="id" optionTextField="name"
                                        placeholder="Select Feedback Type">
                                    </ngx-select>
                                </div>

                            </div>
                            <div class="mb-2">
                                <label class="form-label">Feedback</label>
                                <textarea class="form-control" rows="3" placeholder="Enter Feedback"
                                    formControlName="Description"></textarea>
                            </div>
                            <div class="mb-0 row">
                                <div class="col-sm-6">
                                    <button type="button" mat-dialog-close
                                        class="btn btn-secondary btn-sm me-2" (click)="clearForm()">Cancel</button>
                                </div>
                                <div class="col-sm-6 text-end">
                                    <button type="submit" [mat-dialog-close]="true" class="btn btn-sm btn-main">Submit
                                        Feedback</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-dialog-content>