<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Add New Supervisor</span>
        </div>
        <div class="col-sm-8 text-end">

        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Add New Supervisor</div>
                <div class="card-body pt-0">
                    <div class="form-container">
                        <div class="mb-2">
                            <label class="form-label required-field">Supervisor Name</label>
                            <input type="text" class="form-control" placeholder="Supervisor Name" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label required-field">Mobile No.</label>
                            <input type="text" class="form-control" placeholder="Mobile No." />
                        </div>
                        <div class="mb-2">
                            <label class="form-label required-field">Select Client</label>
                            <select class="form-select">
                                <option value="">Select Client</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label class="form-label required-field">Select Election</label>
                            <select class="form-select">
                                <option value="">Select Election</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label class="form-label required-field">Select Booth(s)</label>
                            <div class="card border shadow-none">
                                <div class="card-header border-bottom p-0 py-1">
                                    <input class="form-control form-control-sm border-0" placeholder="Search Booths"
                                        type="text">
                                </div>
                                <div class="card-body py-2 ChekBox">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Booth Name 1
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                            checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Booth Name 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-0">
                            <div class="col-sm-6 col-6">
                                <button type="button" class="btn btn-secondary">Clear</button>
                            </div>
                            <div class="col-sm-6 col-6 text-end">
                                <button type="button" class="btn btn-main">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <!-- <div class="card-header">
                    asdf
                </div> -->
                <div class="card-body">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Supervisor Details</th>
                                <th>Client Name</th>
                                <th>Election</th>
                                <th>Booth Names</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Anil Jadhav
                                    <p class="text-muted small mb-0">(9876543210)</p>
                                </td>
                                <td>Vijay Jagtap</td>
                                <td>Satara ZP Election 2021</td>
                                <td>
                                    <ul class="ps-3 mb-0">
                                        <li>Booth No 1</li>
                                        <li>Booth No 2</li>
                                        <li>Booth No 3</li>
                                        <li>Booth No 4</li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" title="Edit Supervisor" class="btn btn-sm btn-light text-edit me-1 rounded">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" title="Delete Supervisor" class="btn btn-sm btn-light text-danger rounded">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>