<div class="container-fluid">
    <form [formGroup]="filterForm">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">
                Voters Name Correction
            </span>
        </div>
        <div class="col-sm-8">
           
            <div class="row g-2">
                <div class="col-sm">
                    <ngx-select [allowClear]="clientIdFlag" [items]="clientNameArray" formControlName="ClientId"
                                (remove)="clearFilter('clientId')" (select)="clearFilter('electionId'); getElectionName()"
                                optionValueField="id" optionTextField="Fullname"
                                placeholder="Select Client">
                    </ngx-select>
                  </div>
                  <div class="col-sm">
                    <ngx-select [allowClear]="electionFlag" [items]="electionNameArray" (remove)="clearFilter('electionId')"
                                (select)="clearFilter('constituencyId');  getConstituencyName()" formControlName="ElectionId"
                                optionValueField="ElectionId" optionTextField="ElectionName"
                                [disabled]="!this.filterForm.value.ClientId || electionNameArray?.length == 0"
                                placeholder="Select Election">
                    </ngx-select>
                  </div>
                  <div class="col-sm">
                    <ngx-select [allowClear]="constituencyFlag" [items]="constituencyNameArray"
                                (remove)="clearFilter('constituencyId')" (select)="clearFilter('VillageId'); getVillageName()"
                                formControlName="ConstituencyId" optionValueField="ConstituencyId" optionTextField="ConstituencyName"
                                [disabled]="!this.filterForm.value.ElectionId" placeholder="Select Constituency">
                    </ngx-select>
                  </div>
                  <div class="col-sm">
                    <ngx-select [allowClear]="villageFlag" [items]="villageNameArray" (remove)="clearFilter('VillageId')"
                                formControlName="VillageId" (select)="clearFilter('BoothId'); ClientWiseBoothList()"
                                optionValueField="VillageId" optionTextField="VillageName"
                                [disabled]="!this.filterForm.value.ConstituencyId" placeholder="Select Village">
                    </ngx-select>
                  </div>
                  <div class="col-sm">
                    <ngx-select [allowClear]="boothFlag" [items]="clientWiseBoothListArray" (remove)="clearFilter('BoothId')"
                                formControlName="BoothId" 
                                optionValueField="BoothId" optionTextField="BoothNickName" [disabled]="!this.filterForm.value.VillageId"
                                placeholder="Select Booth">
                    </ngx-select>
                  </div>


            </div>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-12">
            <div class="card shadow-none border">
                <div class="card-header">
                    <div class="row form-container g-2">
                        <div class="col-sm-4">
                            Name Change Requests
                        </div>
                        <div class="col-sm-2 offset-1">
                            <ngx-select [items]="NameChangeTypeArray" [allowClear]="nameChangeFlag"
                            formControlName="NameChangeType"  optionValueField="id"
                             optionTextField="name"
                            placeholder="Select Correction Type" (remove)="clearFilter('NameChangeType')">
                        </ngx-select>
                        </div>

                        <div class="col-sm-2">
                            <ngx-select [items]="allAgentLists" [allowClear]="agentFlag"
                                formControlName="AgentId"  optionValueField="AgentId"
                                [disabled]="allAgentLists?.length == 0 || !this.filterForm.value.ClientId"
                                 optionTextField="FullName"
                                placeholder="Select Agent" (remove)="clearFilter('Agent')">
                            </ngx-select>
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="Search"
                                    placeholder="Search..." (keyup)="onKeyUpFilter()" />
                                <button type="button" class="btn btn-light border btn-sm"
                                    (click)="clearFilter('search')" *ngIf="filterForm.value.Search"><i
                                        _ngcontent-tbl-c102="" class="fas fa-times"></i></button>
                                <button type="button" *ngIf="!filterForm.value.Search"
                                    class="btn btn-sm border btn-light"><i class="fas fa-search"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body pt-1">
                    
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Voter No.</th>
                                <th>Voters Old Name</th>
                                <th>Voters New Name</th>
                                <th>Constituency</th>
                                <th>Booth</th>
                                <th>Area</th>
                                <th>Agent Name</th>
                                <!-- <th>Correction Type</th> -->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>34566</td>
                                <td>
                                    <a routerLink="#">
                                        <p class="mb-0">Vijay Ramesh Patil</p>
                                        <p class="mb-0">विजय रमेश पाटील</p>
                                    </a>
                                </td>
                                <td>
                                    <p class="mb-0">Vijaykumar Patil</p>
                                    <p class="mb-0">विजयकुमार रमेश पाटील</p>
                                </td>
                                <td>Salgar Gan</td>
                                <td>359 -  Chitali</td>
                                <td>Amalgaon, Satara</td>
                                <td>
                                    <a routerLink="#">Anil Chavan</a>
                                </td>
                                <!-- <td>
                                    <h6 class="mb-0"><span class="badge rounded-pill bg-primary fw-normal">Requested</span></h6>
                                </td> -->
                                <td>
                                    <div class="btn-group">
                                        <button type="button" (click)="openDialogNameCorrection()" class="btn btn-light btn-sm text-dark me-1 rounded">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>34566</td>
                                <td>
                                    <a routerLink="#">
                                        <p class="mb-0">Vijay Ramesh Patil</p>
                                        <p class="mb-0">विजय रमेश पाटील</p>
                                    </a>
                                </td>
                                <td>
                                    <p class="mb-0">Vijaykumar Patil</p>
                                    <p class="mb-0">विजयकुमार रमेश पाटील</p>
                                </td>
                                <td>Salgar Gan</td>
                                <td>359 -  Chitali</td>
                                <td>Amalgaon, Satara</td>
                                <td>
                                    <a routerLink="#">Anil Chavan</a>
                                </td>
                                <!-- <td>
                                    <h6 class="mb-0"><span class="badge rounded-pill bg-warning text-dark fw-normal">From Voters List</span></h6>
                                </td> -->
                                <td>
                                    <div class="btn-group">
                                        <button type="button" (click)="openDialogNameCorrection()" class="btn btn-light btn-sm text-dark me-1 rounded">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>34566</td>
                                <td>
                                    <a routerLink="#">
                                        <p class="mb-0">Vijay Ramesh Patil</p>
                                        <p class="mb-0">विजय रमेश पाटील</p>
                                    </a>
                                </td>
                                <td>
                                    <p class="mb-0">Vijaykumar Patil</p>
                                    <p class="mb-0">विजयकुमार रमेश पाटील</p>
                                </td>
                                <td>Salgar Gan</td>
                                <td>359 -  Chitali</td>
                                <td>Amalgaon, Satara</td>
                                <td>
                                    <a routerLink="#">Anil Chavan</a>
                                </td>
                                <!-- <td>
                                    <h6 class="mb-0"><span class="badge rounded-pill bg-success fw-normal">Changed</span></h6>
                                </td> -->
                                <td>
                                    <div class="btn-group">
                                        <button type="button" (click)="openDialogNameCorrection()" class="btn btn-light btn-sm text-dark me-1 rounded">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

