.profile-info img{
    width: 90px;
    margin: 0 auto;
    display: flex;
    border-radius: 50%;
}
.profile-info h5{
    color: var(--main-color);
}
.profile-info .contact{
    color: #888;
    font-size: 0.85rem;
    margin-bottom: 2px;
}
.list-group-item{
    border: none !important;
    padding-block: 5px;
}
.voter-label,
.voter-data{
    font-size: 0.85rem;
}
.voter-label{
    color: #777;
}
.voter-data{
    font-weight: 500;
}
.extrainfo-img{
    width: 90px;
    border-radius: 5px;
}
#voterhomeimages .carousel-item img{
    border-radius: 5px;
    width: 100%;
    height:250px;
    object-fit: fill;
}
.voter-repeat{
    font-size: 0.85rem;
}
.voter-repeat small{
    font-size: 0.7rem;
}
.voter-repeat p{
    font-size: 0.85rem;
}
.voter-repeat .btn:hover,
.voter-repeat .btn-check:checked+.btn-outline-secondary{
    background-color: var(--main-color);
    color: #fff;
    box-shadow: none;
}

agm-map {
    height: 300px;
}

.cont {
    width: 93%;
    max-width: 350px;
    text-align: center;
    margin: 4% auto;
    padding: 30px 0;
    background: #111;
    color: #EEE;
    border-radius: 5px;
    border: thin solid #444;
    overflow: hidden;
  }
  
  div.stars {
    width: 270px;
    display: inline-block;
  }
  