<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-2">
            <span class="page-name">
                Voter Profile
            </span>
        </div>
        <div class="col-sm-10 text-end">
            <ol class="breadcrumb mb-0 w-auto d-inline-flex">
                <li class="breadcrumb-item">Maharashtra</li>
                <li class="breadcrumb-item">258 MAN</li>
                <li class="breadcrumb-item">Shripanvan</li>
                <li class="breadcrumb-item">1-श्रीपालवण</li>
                <li class="breadcrumb-item">भैरवनाथ मंदीर प्राथमिक शाळा</li>
                <li class="breadcrumb-item active" aria-current="page">SANGITA HINDURAO JADHAV</li>
            </ol>
            <!-- Maharashtra->258 MAN->Shripanvan->1-श्रीपालवण->भैरवनाथ मंदीर प्राथमिक शाळा->SANGITA HINDURAO JADHAV -->
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body p-2">
                    <div class="btn-group voter-repeat" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-secondary text-start" for="btnradio1">
                            <small>12-10-2021</small>
                            <p class="mb-0">Agent Name (Booth Agent)</p>
                        </label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-secondary text-start" for="btnradio2">
                            <small>12-10-2021</small>
                            <p class="mb-0">Agent Name (Area Agent)</p>
                        </label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-secondary text-start" for="btnradio3">
                            <small>12-10-2021</small>
                            <p class="mb-0">Agent Name (Booth Agent)</p>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row g-2 chartbox mb-3">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="profile-info">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="assets/images/Profile-Photo.jpg">
                            </div>
                            <div class="flex-grow-1 ms-3 pt-2">
                                <div class="text-end">
                                    <span class="badge small bg-danger mb-2 fw-normal">Do Not Call</span>
                                </div>
                                <h5>Voter Middle Name</h5>
                                <p class="contact">List No. : <span class="text-dark fw-bold">65241</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-1">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Nick Name :</span>
                            <span class="voter-data">votu</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Age :</span>
                            <span class="voter-data">44</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Date Of Birth :</span>
                            <span class="voter-data">25/12/1985</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Gender :</span>
                            <span class="voter-data">Male</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Mobile 1 :</span>
                            <span class="voter-data"><i class="fab fa-whatsapp me-1 text-primary"></i> +91-9876543210
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Mobile 2 :</span>
                            <span class="voter-data">+91-9876543210</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Email :</span>
                            <span class="voter-data">voter.name@gmail.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Qualification :</span>
                            <span class="voter-data">BE Computer Science</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Occupation :</span>
                            <span class="voter-data">IT Developer</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">House No. :</span>
                            <span class="voter-data">98/25</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Area :</span>
                            <span class="voter-data">भैरवनाथ मंदीर प्राथमिक शाळा</span>
                        </li>
                        <li class="list-group-item">
                            <div class="voter-label">Address :</div>
                            <div class="voter-data">
                                Flat No. 98/25, A Group, Sasane Nagar, Bibwewadi, Pune - 411040
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Blood Group :</span>
                            <span class="voter-data">AB+ </span>
                        </li>
                    </ul>
                </div>
                <div class="card-body pt-0">
                    <span class="voter-label">Voter Home Images : </span>
                    <div id="voterhomeimages" class="carousel slide mt-1" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://static.toiimg.com/thumb/msid-62205005,width-400,resizemode-4/62205005.jpg"
                                    class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://i.pinimg.com/736x/ab/a1/02/aba102b1b7d684c385fd6e1fa8f395bb.jpg"
                                    class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://3.imimg.com/data3/AO/NG/MY-7739952/kerala-village-home-stay-tour-250x250.jpg"
                                    class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#voterhomeimages"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#voterhomeimages"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    General Information
                </div>
                <div class="card-body pt-0">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <span class="voter-label">Religion : </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="voter-data">Religion</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="voter-label">Caste : </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="voter-data">Caste</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <span class="voter-label">Is Family Head : </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="voter-data">Yes</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="voter-label">Family Size : </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="voter-data">5</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="voter-label">Family Details : </span>
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Member Name</th>
                                        <th>Mobile No.</th>
                                        <th>Occupation</th>
                                        <th>Qualifiction</th>
                                        <th>Migration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>जाधव संगीता हिंदुराव (17) <i class="fas fa-house-user ms-2"></i></td>
                                        <td>987653210</td>
                                        <td>Service</td>
                                        <td>B. Sc.</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>जाधव संगीता हिंदुराव (17)</td>
                                        <td>987653210</td>
                                        <td>Service</td>
                                        <td>B. Sc.</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>जाधव संगीता हिंदुराव (17)</td>
                                        <td>987653210</td>
                                        <td>Service</td>
                                        <td>B. Sc.</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>जाधव संगीता हिंदुराव (17)</td>
                                        <td>987653210</td>
                                        <td>Service</td>
                                        <td>B. Sc.</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>जाधव संगीता हिंदुराव (17)</td>
                                        <td>987653210</td>
                                        <td>Service</td>
                                        <td>B. Sc.</td>
                                        <td>Yes</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-header py-0">
                    Political Information
                </div>
                <div class="card-body pt-0">
                    <div class="row mb-2">
                        <div class="col-sm-2">
                            <span class="voter-label">Party Name : </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="voter-data">National Congress Party</span>
                        </div>
                        <div class="col-sm-2">
                            <span class="voter-label">Leader : </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="voter-data">
                                Yes
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="card shadow-none border mx-3 mb-3">
                    <div class="card-header py-0">
                        Political Influence
                    </div>
                    <div class="card-body pt-0">
                        <div class="form-container">
                            <div class="alert alert-success p-2 mb-2">
                                <label class="form-label">Positive Influence :</label>
                                <div class="form-data">
                                    Sharad Pawar, Rahul Gandhi, Raj Thakare, Rohit Pawar
                                </div>
                            </div>
                            <div class="alert alert-danger p-2 mb-0">
                                <label class="form-label">Negative Influence :</label>
                                <div class="form-data">
                                    BJP, Abhijit Mane
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header py-0">
                    Extra Information
                </div>
                <div class="card-body pt-0">
                    <div class="card card-body shadow-none border mb-2 p-2">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img class="extrainfo-img"
                                    src="https://static.toiimg.com/thumb/msid-62205005,width-400,resizemode-4/62205005.jpg">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div class="voter-data">General Comment On voter</div>
                                <div class="voter-label">
                                    This is some content from a media component. You can replace this with any content
                                    and adjust it as needed.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body shadow-none border mb-2 p-2">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img class="extrainfo-img"
                                    src="https://static.toiimg.com/thumb/msid-62205005,width-400,resizemode-4/62205005.jpg">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div class="voter-data">Personal Issues of voter</div>
                                <div class="voter-label">
                                    This is some content from a media component. You can replace this with any content
                                    and adjust it as needed.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body shadow-none border mb-2 p-2">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img class="extrainfo-img"
                                    src="https://static.toiimg.com/thumb/msid-62205005,width-400,resizemode-4/62205005.jpg">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div class="voter-data">Social Media Forwards of voter</div>
                                <div class="voter-label">
                                    This is some content from a media component. You can replace this with any content
                                    and adjust it as needed.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body shadow-none border mb-2 p-2">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img class="extrainfo-img"
                                    src="https://static.toiimg.com/thumb/msid-62205005,width-400,resizemode-4/62205005.jpg">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div class="voter-data">Social Issues of voter</div>
                                <div class="voter-label">
                                    This is some content from a media component. You can replace this with any content
                                    and adjust it as needed.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body shadow-none border mb-2 p-2">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img class="extrainfo-img"
                                    src="https://static.toiimg.com/thumb/msid-62205005,width-400,resizemode-4/62205005.jpg">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div class="voter-data">Influencial Person of voter</div>
                                <div class="voter-label">
                                    This is some content from a media component. You can replace this with any content
                                    and adjust it as needed.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h6 class="voter-data text-main fw-bold">जाधव संगीता हिंदुराव (17)</h6>
                </div>
                <div class="card-body form-container pt-0">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="form-label">Age</label>
                            <div class="form-data">23</div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Date of Birth</label>
                            <div class="form-data">12-4-2021</div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Gender</label>
                            <div class="form-data">Female</div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    Migration Information
                </div>
                <div class="card-body pt-0 px-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="voter-label">Migrated :</span>
                                <span class="voter-data">Yes</span>
                            </div>
                            <div class="voter-data mt-1">
                                Saras Baug, Pune
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Postal Voting :</span>
                            <span class="voter-data">Yes</span>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="voter-label">Need Support :</span>
                                <span class="voter-data">Yes</span>
                            </div>
                            <div class="voter-data mt-1">
                                The next generation of the web’s favorite icon library
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    Additional Information
                </div>
                <div class="card-body px-0 pt-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Dairy Farmer :</span>
                            <span class="voter-data">Yes</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Goat/Sheep Farmer :</span>
                            <span class="voter-data">Yes</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Sugarcane/Cutter-Worker :</span>
                            <span class="voter-data">Yes</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Farmer :</span>
                            <span class="voter-data">Yes</span>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="voter-label">Business :</span>
                                <span class="voter-data">Yes</span>
                            </div>
                            <div class="voter-data mt-1">
                                Rice Mill Owner
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Yuvak :</span>
                            <span class="voter-data">Yes</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Vehicle :</span>
                            <span class="voter-data">2 Wheeler</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="voter-label">Income Group :</span>
                            <span class="voter-data">Middle</span>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="voter-label">Comments :</span>
                            </div>
                            <div class="voter-data mt-1">
                                No Comments
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card card-body p-2">
                <img src="https://previews.123rf.com/images/elenabsl/elenabsl1409/elenabsl140900005/31392676-street-map.jpg"
                    class="img-fluid">
            </div>
        </div>
    </div>
</div>